@use 'helpers/variables' as v;
@use 'components';

body {
  background: linear-gradient(
    to bottom,
    v.$Very-Dark-Blue-Top 33%,
    v.$Very-Dark-Blue 33%
  );
  color: v.$White;
  max-width: 1140px;
  margin: 0 auto;
  font: {
    family: v.$font-Inter;
    size: 1.8rem;
  }
  /* THEME SWITCH */
  &.white-theme {
    color: v.$Very-Dark-Blue;
    background: linear-gradient(to bottom, v.$Very-Pale-Blue 33%, v.$White 33%);
  }
}
