@use 'helpers/variables' as v;
@use 'helpers/resets';
@use 'components';

body {
  font-family: "Inter", sans-serif;
  background-color: v.$White;
  color: v.$Dark-Grayish-Blue;
  font-size: 1.8rem;
}
